################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AdoNetDatabaseDemo/.vs
/DotNet/AdoNetDatabaseDemo/AdoNetDatabaseDemo/obj
/DotNet/AspNetMvcDemo/.vs
/DotNet/AspNetMvcDemo/AspNetMvcDemo/bin/Debug/net10.0
/DotNet/AspNetMvcDevOpsDemo/.vs
/DotNet/AspNetMvcDevOpsDemo/AspNetMvcDevOpsDemo/bin/Debug/net10.0
/DotNet/AspNetMvcDevOpsDemo/AspNetMvcDevOpsDemo/obj
/DotNet/AspNetMvcDevOpsDemo/AspNetMvcDevOpsDemo.Tests/bin
/DotNet/AspNetMvcDevOpsDemo/AspNetMvcDevOpsDemo.Tests/obj
/DotNet/AspNetWebApiDemo1/.vs
/DotNet/AspNetWebApiDemo1/AspNetWebApiDemo1/bin/Debug/net10.0
/DotNet/AspNetWebApiDemo1/AspNetWebApiDemo1/obj
/DotNet/AspNetWebApiDemo2/.vs
/DotNet/AspNetWebApiDemo2/AspNetWebApiDemo2/bin/Debug/net10.0
/DotNet/AspNetWebApiDemo2/AspNetWebApiDemo2/obj
/DotNet/BasicLogic/bin/Debug/net10.0
/DotNet/BasicLogic/obj
/DotNet/EfDatabaseDemo/.vs
/DotNet/EfDatabaseDemo/EfDatabaseDemo/bin/Debug/net10.0
/DotNet/EfDatabaseDemo/EfDatabaseDemo/obj
/DotNet/AspNetMvcDemo/AspNetMvcDemo/obj
/DotNet/FileProcessing/.vs
/DotNet/FileProcessing/FileProcessing/bin/Debug/net10.0
/DotNet/FileProcessing/FileProcessing/obj
/DotNet/HelloWorld/bin/Debug/net10.0
/DotNet/HelloWorld/obj
/DotNet/LinqDemo/.vs
/DotNet/LinqDemo/LinqDemo/bin/Debug/net10.0
/DotNet/LinqDemo/LinqDemo/obj
/DotNet/NumberTypes/bin/Debug/net10.0
/DotNet/NumberTypes/obj
/DotNet/OopDemo/bin/Debug/net10.0
/DotNet/OopDemo/obj
/DotNet/StringPerformance/bin/Debug/net10.0
/DotNet/StringPerformance/obj
/DotNet/TekoälyTestiautomaatio/.vs
/DotNet/TekoälyTestiautomaatio/Laskentaa/bin/Debug/net10.0
/DotNet/TekoälyTestiautomaatio/Laskentaa/obj
/DotNet/Testiautomaatio/.vs
/DotNet/Testiautomaatio/Testisovellus/bin/Debug/net10.0
/DotNet/Testiautomaatio/Testisovellus/obj
/DotNet/Testiautomaatio/Testisovellus.Tests/bin
/DotNet/Testiautomaatio/Testisovellus.Tests/obj
/DotNet/TestiautomaatioVSCode/KonsoliSovellus/bin/Debug/net10.0
/DotNet/TestiautomaatioVSCode/KonsoliSovellus/obj
/DotNet/TestiautomaatioVSCode/KonsoliSovellus.Tests/bin
/DotNet/TestiautomaatioVSCode/KonsoliSovellus.Tests/obj
/DotNet/TicTacToe/bin/Debug/net10.0
/DotNet/TicTacToe/obj
